page-login {
    
    p{
        text-align: center;
        color: color($colors, disText);
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .error{
        text-align: center;
        color: color($colors, danger);
        font-weight: bold;
    }

    .logged{

        margin-top: 50%;

        h1{
            text-align: center;
            color: color($colors, disText);
            font-weight: 400;
        }

    }

}
