<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <img src="../../assets/img/recipes.png">

  <div *ngIf='!logged'>
    <ion-list>
      <ion-item>
        <ion-label floating>Correo</ion-label>
        <ion-input (keyup)="enableButton()" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Contrsena</ion-label>
        <ion-input (keyup)="enableButton()" [(ngModel)]="pass" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <p (click)="goToSignUp()">Crea una cuenta si no tienes una</p>

    <button (click)="signIn()" [disabled]="!isenabled" ion-button full>Iniciar Sesion</button>

    <p class="error">{{ errors }}</p>
  </div>


<div class="logged" *ngIf='logged'>
  <h1>{{usernameL}}</h1>
  <p>{{emailL}}</p>
  <button (click)="signOut()" ion-button full>Cerrar Sesion</button>
</div>


</ion-content>