<!--
  Generated template for the CollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coleccion: {{ collectionName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  
    <ion-card *ngFor="let recipe of collection | async" (click)="goToDish(recipe.key)">
      <img [src]=recipe.image/>
      <div class="card-title">{{ recipe.title }}</div>
    </ion-card>
  
  </ion-content>
