<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Recetas Favoritas</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let collection of collections" (click)="goToCollection(collection.title)">
      <img [src]=collection.img/>
      <div class="card-title">{{collection.title}}</div>
    </ion-card>
</ion-content>