<ion-header>
  <ion-navbar>
    <button *ngIf="!showSearchBar" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!showSearchBar">Inicio</ion-title>
    <ion-buttons *ngIf="!didLoad" end>
      <button ion-button icon-only>
        <ion-spinner></ion-spinner>
      </button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchBar" placeholder="Buscar" (keyup)="search($event)" (ionClear)="clearSearch()"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-refresher (ionRefresh)="searchBar($event)">
    <ion-refresher-content pullingText="Deslice para buscar" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card *ngFor="let dish of dishes | async" (click)="goToDish(dish.key)">

    <img [src]=dish.image/>

    <ion-card-content>
      <ion-card-title>
        {{ dish.name }}
      </ion-card-title>
      <p>
        {{ dish.desc }}
      </p>
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col col-s6>
          <button color="star" ion-button icon-left clear small>
                    <ion-icon name="star"></ion-icon>
                    <div>{{ dish.rating }}</div>
                  </button>
        </ion-col>
        <ion-col offset-4 center text-center>
          <ion-note>
            {{ dish.timestamp | date:'MMM dd, yyyy' }}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>


  <ion-fab *ngIf="isAdmin" right bottom>
    <button (click)="addDishPage()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>