.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      button {
        font-size: 1.2em;
        position: absolute;
        bottom: 1%;
        left: 1%;
      }
    
    }
    
    .desc{
      font-size: 1.2em;
      font-weight: 500;
    }

    ion-card-header {
        float: left;
        font-weight: bold;
    }

    ion-slides{

      ion-slide{
        display: flex;

          .sub{
            position: absolute;
            margin-top: auto;
            left: 10px;
            right: 10px;
            bottom: 25px;
            font-weight: bold;
            color: white;
          }
        }

        
      }
    
    
    
