<!--
  Generated template for the DishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Receta</ion-title>
    <ion-buttons end>
      <button (click)="alert()" ion-button icon-only>
        <ion-icon color="{{heart.color}}" [name]=heart.icon></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img [src]="(dish | async)?.image" />
    <div class="card-title">{{ (dish | async)?.name }}</div>
    <button color="star" ion-button icon-left clear small>
            <ion-icon name="star"></ion-icon>
            <div>{{ (dish | async)?.rating }}</div>
        </button>
  </ion-card>

  <ion-card>
    <ion-card-content class="desc">
      {{ (dish | async)?.desc }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Ingredientes:
    </ion-card-header>
    <ion-list no-lines *ngFor="let ingredient of ingredients | async">
      <ion-item text-wrap>
        &#8226; {{ ingredient }}
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card>
    <ion-card-header>
      Preparacion:
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager>
        <ion-slide *ngFor="let p of preparation | async">
          <div>
            <img [src]="(dish | async)?.image">
            <p class="sub">{{ p }}</p>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>



</ion-content>