<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SignUp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Nombre de Usuario</ion-label>
      <ion-input (keyup)="enableButton()" type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Correo Electronico</ion-label>
      <ion-input (keyup)="enableButton()" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Contrasena</ion-label>
      <ion-input (keyup)="enableButton()" type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Repetir Contrasena</ion-label>
      <ion-input (keyup)="enableButton()" type="password" [(ngModel)]="passRP"></ion-input>
    </ion-item>

  </ion-list>

  <button (click)="signUp()" [disabled]="!isenabled" ion-button full>Sign Up</button>

  <p>{{ errors }}</p>

</ion-content>