<!--
  Generated template for the AddDishPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crea Una Nueva Receta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
      <ion-item>
        <ion-label floating >Nombre</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating >Description</ion-label>
        <ion-textarea [(ngModel)]="desc"></ion-textarea>
      </ion-item>

      <ion-item  *ngFor="let ingredient of ingredients ; let i = index" [attr.data-index]="i">
        <ion-label floating >Ingrediente {{i}}</ion-label>
        <ion-input [(ngModel)]="ingredient[i]"></ion-input>
      </ion-item>

      <button (click)="newIngredient()" ion-button full clear>+</button>
    
    </ion-list>

    <button (click)="addNewDish()" ion-button full>Agregar Receta</button>
</ion-content>
